absl-py==0.12.0
altgraph==0.17.2
attrs==20.3.0
auto-py-to-exe==2.10.0
bottle==0.12.19
bottle-websocket==0.2.9
CacheControl==0.12.6
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
dataclasses==0.6
Eel==0.12.4
firebase-admin==4.5.3
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==1.26.3
google-api-python-client==2.1.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.1.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
grpcio==1.37.0
httplib2==0.19.1
idna==2.10
importlib-metadata==4.8.1
mediapipe==0.8.3.1
msgpack==1.0.2
numpy==1.20.2
opencv-python==4.5.1.48
packaging==20.9
pefile==2021.9.3
proto-plus==1.18.1
protobuf==3.15.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
rsa==4.7.2
selenium==3.141.0
six==1.15.0
sockets==1.0.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.4
whichcraft==0.6.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
